*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Fredoka',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#FFF4D6;
    color:#222;
}

/* NAVBAR */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
}

.logo{
    font-size:2rem;
    font-weight:700;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    text-decoration:none;
    color:black;
    font-weight:600;
}

/* COMMON BOX */

.box{
    background:white;
    border:4px solid black;
    border-radius:25px;
    box-shadow:10px 10px 0 black;
}

/* HERO */

.hero{
    padding:50px 8%;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
    flex-wrap:wrap;
}

.hero-content{
    max-width:600px;
    padding:40px;
}

.badge{
    background:#FFD93D;
    border:3px solid black;
    border-radius:30px;
    padding:10px 20px;
    display:inline-block;
    margin-bottom:20px;
}

.hero h1{
    font-size:4rem;
    margin-bottom:15px;
}

.hero span{
    color:#FF6B6B;
}

.hero p{
    font-size:1.2rem;
    line-height:1.7;
}

.buttons{
    margin-top:30px;
    display:flex;
    gap:20px;
}

.btn{
    padding:15px 30px;
    background:#6BCB77;
    border:3px solid black;
    border-radius:15px;
    text-decoration:none;
    color:black;
    font-weight:bold;
    box-shadow:5px 5px 0 black;
}

.blue{
    background:#4D96FF;
}

.btn:hover{
    transform:translate(5px,5px);
    box-shadow:none;
}

/* SOCIAL */

.social-icons{
    display:flex;
    gap:20px;
    margin-top:30px;
}

.social-icons a{
    width:60px;
    height:60px;
    border-radius:15px;
    border:3px solid black;
    background:white;
    box-shadow:5px 5px 0 black;
    display:flex;
    justify-content:center;
    align-items:center;
    color:black;
    font-size:1.5rem;
    text-decoration:none;
}

.social-icons a:hover{
    transform:translate(5px,5px);
    box-shadow:none;
}

/* IMAGE */

.avatar{
    width:350px;
    height:350px;
    overflow:hidden;
}

.avatar img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* SECTIONS */

section{
    padding:70px 8%;
}

h2{
    font-size:2.5rem;
    margin-bottom:30px;
}

.about-box,
.contact-box{
    padding:40px;
}

/* GRID */

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

/* SKILLS */

.skill-card{
    background:#A8E6CF;
    padding:30px;
    text-align:center;
    border:4px solid black;
    border-radius:20px;
    box-shadow:8px 8px 0 black;
    font-size:1.2rem;
    font-weight:bold;
}

/* PROJECTS */

.project-card{
    background:#FFD6E8;
    padding:30px;
    border:4px solid black;
    border-radius:20px;
    box-shadow:8px 8px 0 black;
}

/* ACHIEVEMENTS */

.achievement-card{
    background:#B8E8FC;
    padding:30px;
    text-align:center;
    border:4px solid black;
    border-radius:20px;
    box-shadow:8px 8px 0 black;
}

.achievement-card h3{
    font-size:3rem;
}

/* FOOTER */

footer{
    text-align:center;
    padding:30px;
    font-weight:bold;
}

.skill-card:hover,
.project-card:hover,
.achievement-card:hover{
    transform:translate(-5px,-5px);
    transition:0.3s;
}

/* RESPONSIVE */

@media(max-width:768px){

.hero h1{
    font-size:3rem;
}

.avatar{
    width:280px;
    height:280px;
}

nav{
    flex-direction:column;
    gap:15px;
}

nav ul{
    flex-wrap:wrap;
    justify-content:center;
}
}